/* ========== Overall Styles ========== */

@font-face {
    font-family: 'geometria_lightlight';
    src: url('../fonts/geometria/Geometria-Light-webfont.eot');
    src: url('../fonts/geometria/Geometria-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria/Geometria-Light-webfont.woff2') format('woff2'),
         url('../fonts/geometria/Geometria-Light-webfont.woff') format('woff'),
         url('../fonts/geometria/Geometria-Light-webfont.ttf') format('truetype'),
         url('../fonts/geometria/Geometria-Light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p,
.title {
  font-family: 'Open Sans', sans-serif;   /* Google Font */
  font-size: 16px;
  color: #666;
  line-height: 1.75;
  padding: 8px 0px 20px 0px;
}

h1 {
  font-family: 'geometria_lightlight', 'helvetica', 'sans-serif';
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 20px;
}

h2 {
  font-family: 'geometria_lightlight', 'helvetica', 'sans-serif';
  font-size: 2rem;
  line-height: 1.5;
}

h3 {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* font style for navigation */
.nav-font {
  font-family: 'robotoregular', 'Open Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.section-margin {
  padding: 20px 30px;
}



/* ========== Clear the floats ========== */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; // supports ie 6/7
}*/

article,
section {
  clear: both;
}

/* ========== EH Logo ========== */

/* container for eh-logo */
.title  {
  float: left;
  padding: 0em 1em 1em 1em;
}

/* Grow Shadow transition on eh logo */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle; /* center the shadow */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 12px -9px rgba(0, 0, 0, 0.6); /* x, y, blur, spread, color */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* size of logo */
.eh-logo {
  width: 75px;
  height: auto;
}

/* ========== Navigation ========== */

.navigation {
  /*float: right;
  margin: 50px 40px 20px 40px;*/
}

.navigation ul {
  /*display: flex;
  flex-direction: row-reverse;*/
  /*padding-bottom: 20px;*/
  /*border-bottom: 1px solid grey;*/
}

/*.navigation li {
  display: inline;
  padding: 0px 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  color: #666;
}

.navigation a:hover {
  color: #666;
  margin-bottom: 4px;
  border-bottom: 3px solid #ff7b00;
}*/

/* ========== Animated Hamburger Menu ========== */

nav {
  overflow: visible;
}
.nav-toggle {
  background: rgba(255, 255, 255, 0.5);
  height: 50px;
  width: 60px;
  display: block;
  float: right;
  z-index: 102;
  position: relative;
  top: 25px;
  right: 19px;
  opacity: 0.3; /* off state for burger menu */
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*.logged-in .nav-toggle {
  top: 50px;
}*/
.nav-toggle:hover {
  opacity: 1; /* when rolled over, burger menu darkens */
}
/* style for 3 lines */
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  display: block;
  cursor: pointer;
  height: 5px;
  width: 40px;
  background: #384047;
  position: absolute;
  display: block;
  content: "";
  left: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.nav-toggle span {
  top: 23px;
  left: 10px;
}
/* top bar */
.nav-toggle span:before {
  top: -12px;
}
/* bottom bar*/
.nav-toggle span:after {
  bottom: -12px;
}
.nav-toggle span:hover span:before {
  top: -15px;
}
.nav-toggle span:hover span:after {
  bottom: -15px;
}
.nav-toggle.open {
  opacity: 1;
}
/* middle bar goes away */
.nav-toggle.open span {
  background: none;
}
/* top bar rotates 45deg */
.nav-toggle.open span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); /* top line rotates from L corner to bottom R */
  top: 0;
  left: 0;
  background: #ed5a5a; /* red */
}
/* bottom bar rotates 45deg */
.nav-toggle.open span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); /* bottom line rotates from L corner to top R */
  bottom: 0;
  left: 0;
  background: #ff6600; /* orange */
}

/* ========== Mobile Navigation ========== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.togglemenu {
  background-color: #ffffff;
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.js .togglemenu {
  overflow: hidden;
  max-height: 0;
}
.togglemenu.active {
  max-height: 20em;
}
.togglemenu ul {
  text-align: center; /* centers all the list items */
  margin: 0;
  padding: 0;
  border-top: 1px solid lightgrey; /* line at top of menu */
  border-bottom: 1px solid lightgrey; /* line at bottom of menu */
}
.togglemenu li {
  border-bottom: 1px solid lightgrey; /* line for each list item*/
  padding: 10px 0px;
}
.togglemenu li a {
  color: #7aabb9;
  display: block;
  padding: 1em;
}
.togglemenu li a:hover {
  color: #fff;
  background-color: #7aabb9;
}
.togglemenu li:last-child {
  border-bottom: 0;
}
/**/


/* ========== Filter Nav buttons ========== */


#filters li {
  display: inline;
  list-style-type: none;
  line-height: 4rem;
}

.button {
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
font-size: 0.9em;
}
.button a {
  cursor: pointer;
  background-color: #fff;
	border: none;
	padding: 7px 10px 7px 10px;
  margin: 10px 5px 15px 30px;
	border-radius: 2px;
	color: #666;
}

.button a.current {
  border: 1px solid #ff6600;
  color: #ff6600;
	background-color: #fff;
}
.button:hover {
  color: #fff;
  background-color: #ff6600;
}
.button.active {
  border: 1px solid #ff6600;
  color: #ff6600;
	background-color: #fff;
}

/* Isotope Styles */

.isotope-item {
   z-index: 2;
}
.isotope-hidden.isotope-item {
   pointer-events: none;
   z-index: 1;
}
.isotope,
.isotope .isotope-item {
 /* change duration value to whatever you like */

   -webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
   transition-duration: 0.8s;
}
.isotope {
   -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
   transition-property: height, width;
}
.isotope .isotope-item {
   -webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property: -moz-transform, opacity;
   transition-property: transform, opacity;
}


/* ========== Projects ========== */

/* main container for all projects */
  #proj-grid {
    max-width: 100%; /* content will fill whole width of screen*/
    margin: 0 auto; /* center */
    font-size: 0; /* removes gap between rows */
  	/*text-align: center;
  	max-width: 1020px;
  	margin: 0 auto;*/
  }

  /* project boxes */
  .proj-width {
    width: 100%; /* for mobile */
    height: auto;
    background-color: lightblue;
    float: left;
    overflow:hidden;

  }

  .proj-wrapper {
    overflow:hidden;
  	position: relative;
  	/*background: lightgrey;*/
    /*cursor:pointer;*/
  }

  /* makes the image fit within the container (targeting image tags within the main container #proj-grid) */
  #proj-grid img {
    max-width:100%;
    position: relative;
    top:0;
    /*width: 300px;
  	height: 150px;
  	border-radius: 3px;
  	border: 8px solid #fff;
  	margin: 6px;
      -webkit-box-shadow: 0 0 3px 3px #ebebeb;
      box-shadow: 0 0 3px 3px #ebebeb;
  	float: left;*/
  }


/**/


/* Buttons that push down */

/*button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}*/


/* ========== About ========== */

.container-center{
  /*display: flex;
  flex-direction: row;
  justify-content: center;*/

}

.width100percent {
  width: 100%;
  height: auto;
  display: block;
}

/* ========== CONTACT FORM ========== */

.contact-form {
  width: 100%;
  margin: 20px 0px;
  /*margin: 20px auto 20px;*/
  /*padding: 20px;*/
}

.contact-form > div {
  margin: 20px 0px 20px 0px;
}

label {
  color: #262873;
  font-weight: bold;
}

label[for="vis-name"],
label[for="vis-email"],
label[for="comment"] {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select,
textarea {
  border: 1px solid #c8c8c8;
  color: #464646;
  font-size: 16px;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: #afafaf;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

input[type="text"],
textarea {
  display: block;
  padding: 5px 8px;
  border-radius: 5px;
}

input[type="text"] {
  width: 95%;
}

textarea {
  width: 95%;
}


/* ========== Footer ========== */

footer {
  clear: both;
  display: flex;
  flex-direction: column;
  background-color: #4c4c4c;
  /*background-color: hsl(196, 15%, 10%);*/
  padding: 5% 20%;

}

.social {
  display: flex;
  justify-content: space-around;
}

.social ul {
  text-align: center;
}

.social li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-shadow: 2px 2px 5px hsla(125, 32%, 24%, 0.75); /* adds dropshadow to text! */
}

.social li a {
  color: white;
}

.social li a:hover {
  color: #cdf7d9;
}
.copyright {
  text-align: center;
}

.footer-text {
  font-family: 'robotoregular', 'Open Sans', sans-serif;
  font-size: 15px;
  color: lightgrey;
  line-height: 1.5;
}

.fa-heart {
  color: #ec342f;
}

/* ========== Media Queries for 480px ========== */

@media screen and (min-width:480px) {

  /* container for eh-logo */
  .title  {
    padding: 0em 1.5em 0.5em 1.5em;
  }

  /* container for toggle menu */
  .menu-link {
    padding: 1em 1.5em 0.5em 1.5em;
  }

  /* project boxes */
  .proj-width {
    width: 50%;
  }




}

/* ========== Media Queries for 720px ========== */

@media screen and (min-width:720px) {

  /* container for eh-logo */
  .title  {
    padding: 0em 2em 0.5em 2em;
  }

  /* container for toggle menu */
  .menu-link {
    padding: 1em 2em 0.5em 2em;
  }

  .section-margin {
    padding: 20px 60px;
  }

  /* project boxes */
  .proj-width {
    width: 33.333333%;
  }

  .headshot {
    width: 40%;
    float: left;
  }

  .bio {
    width: 60%;
    float: right;
  }

}


/* ========== Media Queries for 1024px ========== */

@media screen and (min-width:1024px) {

  /* container for eh-logo */
  .title  {
    padding: 0em 2.5em 0.5em 2.5em;
  }

  /* container for toggle menu */
  .menu-link {
    padding: 1em 2.5em 0.5em 2.5em;
  }

  .section-margin {
    padding: 20px 100px;
  }

}
